.formWrapper {
  background: #ffffff;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.formWrapper h1 {
  color:black;
  margin-bottom:2rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: inherit;
}

.form__input {
  border: 1px solid #e8e8e8;
  flex-grow: 1;
  padding: 1.3rem;
  margin: 0.3rem 0;
}
